.BuildControls{
    width: 100%;
    background-color: burlywood;
    display:flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.BuildControls p {
    padding: 0 16px;
    color:white;
}